<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{ produtos }}
    <div class="container">
        <div class="row">
            {% for c in produtos  %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{c.titulo}}  QTD: {{ c.qtd }} X  Valor: {{ c.total_por_item }}</li>
            </ul>
            {% empty %}
            <h3>Carrinho vazio!</h3>
            {% endfor %}  
            <h3>SUBTOTAL : {{ carrinho.subtotal }}</h3>
        </div>
    </div>
    
        
    

   

    
</body>
</html>