{% extends 'base.html' %}

{% block link %} 
{% endblock %}

{% block title %}
{{user}} | Minhas Configurações
{% endblock %}

{% block main %}
<nav>
    <div class="container">
      <ul class="navbar-left">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'my_account'  %}">Minha Conta</a></li>
        {% endif %}
      </ul> <!--end navbar-left -->
  
      <ul class="navbar-right">
        {% if cart %}
            <li><a href="{% url 'cart' %}" id="cart"><i class="fa fa-shopping-cart"></i> Carrinho<span class="badge">{{ cart.produtos.count }}</span></a></li>
        {% endif %}
            <li><a href="{% url 'cart' %}" id="cart"><i class="fa fa-shopping-cart"></i> Carrinho<span class="badge"></span></a></li>
      </ul> <!--end navbar-right -->
    </div> <!--end container -->
  </nav>

<div class="container">
    <div class="row">
        <div class="col-6">
            <span class="align-baseline">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary" type="button">Editar Dados</a>
              </div>
              <br>
              <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary" type="button">Mostrar todas as vendas.</a>
              </div>
              <br>
              <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary" type="button">Suporte</a>
              </div>
              <br>
            </span>
        <div class="col">
            lista
        </div>
    </div>
</div>


{%  endblock %}


{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}